

.Page {
    background-color: #282c34;
    text-align: center;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
    position: relative;
    padding-bottom: 5vh;
}

.Page-header{
    background-color: #282c34;
    display: flex;
    min-height: 15vh;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    top: 0;
    width: 100%;
}

.Page-content {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: 10%;
}

.Page-footer {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    clear: both;
    height: 5vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    font-size: calc(1px + 2vmin);
    color: white;
    position: absolute;
    left:0;
    bottom:0;
    right:0;
}

.Link {
    color: #61dafb;
}

.Page-input-group{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: table;
}

.Page-input{
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
}

.Page-label{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.Page-search-add {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.Page-search-bar{
    width: 800px;
}

.Page-Table {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}