.ModifyDelivery {
    background-color: #282c34;
    text-align: center;
}

.ModifyDelivery-content {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 100vh;
}

.ModifyDelivery-header {
    background-color: #282c34;
    flex-direction: column;
    min-height: 10vh;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.ModifyDelivery-buttons {
    align-items: center;
    justify-content: center;
}

.ModifyDelivery-footer {
    background-color: #282c34;
    clear: both;
    min-height: 5vh;
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1px + 2vmin);
    color: white;
}

.ModifyDelivery-input-group{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: table;
}

.ModifyDelivery-input{
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.ModifyDelivery-label{
    width: 100%;
    align-items: center;
    justify-content: center;
}