
.DeliveryPage-label{
    color: rgba(156, 147, 159, 0.92);
    font-size: calc(5px + 2vmin);
}

.search-input-bar {
    width: 55%;
}

.Button-page-move {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.DeliveryPage-info-container-display{
    flex-direction: row;
    display:flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-outside: 5%;
    width: 100%;
}
.DeliveryPage-info-display {
    flex-direction: column;
    display:flex;
    justify-content: space-evenly;
}
