.DeliveriesPage {
    background-color: #282c34;
    text-align: center;
}

.DeliveriesPage-content {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.DeliveriesPage-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.DeliveriesPage-footer {
    background-color: #282c34;
    clear: both;
    min-height: 5vh;
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1px + 2vmin);
    color: white;
}

.Delivery-search {
    margin-top: 10%;
    top: 0;
    display: flex;
    align-items: center;
}

.search-add {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.Search-Delivery-Bar {
    width: 800px;
}

.Button-page-move {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Table-panel{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Table-entries{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.Table-button-page-move-top{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.Table-entries-size-label{
    display: flex;
    flex-direction: row;
    color: white;
}

.Table-row{
    border: 1px black;
    color: black;
    background-color: #cbe1ff;
    font-size: medium;
}

.Table-field{
    border: 1px black;
    color: white;
    background-color: #485e67;
}