.UsersPage {
    background-color: #282c34;
    text-align: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
}

.UserPage-content {
    background-color: #282c34;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.UsersPage-header {
    background-color: #282c34;
    min-height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 100%;
    width: 100%;
}

.UsersPage-footer {
    background-color: #282c34;
    clear: both;
    min-height: 5vh;
    display: flex;
    bottom: 0;
    position: fixed;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1px + 2vmin);
    color: white;
}

.User-search {
    margin-top: 10%;
    top: 0;
    display: flex;
    align-items: center;
}

.search-add {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.Search-User-Bar {
    width: 800px;
}

.Button-page-move {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Table-panel{
    background-color: #282c34;
    display: flex;
    flex-direction: row;
    align-items: center;
}




