
.AddUser {
    background-color: #282c34;
    text-align: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    display: flex;
}

.AddUser-content {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    height: 100%;
    width: 100%;
}

.AddUser-header {
    background-color: #282c34;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    flex-direction: column;
    display: flex;
}

.AddUser-buttons {
    align-items: center;
    justify-content: center;
}

.AddUser-search{
    margin-top: 10%;
    width: 100%;
    top: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.AddUser-input-group{
    width: 100%;
    align-items: center;
    justify-content: center;
    display: table;
}

.AddUser-input{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.AddUser-label{
    width: 100%;
    align-items: center;
    justify-content: center;
}