.Menu {
    background-color: #282c34;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    display: flex;
}

.Menu-content {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: 10%;
  }
  
.Menu-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    top: 0;
  }
  
.Menu-footer {
    background-color: #282c34;
    display: flex;
    clear: both;
    min-height: 5vh;
    bottom: 0;
    position: fixed;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(1px + 2vmin);
    color: white;
  }


